<div class="row">
	<div class="col-md-12 text-center" id="loading">
		<i class="fa fa-refresh fa-spin fa-3x"></i>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center" ng-repeat="playlist in userPlaylists.items track by $index">
		<div class="playlist-card">
			<a ui-sref="playlist({id: $index})">
				<h4 class="playlist-name" tooltip-placement="top" uib-tooltip="{{playlist.name}}">
					{{playlist.name | limitTo: 20}}{{playlist.name.length > 20 ? '&hellip;' : ''}}
				</h4>
				<img class="img-thumbnail" ng-src="{{playlist.images[0].url.length > 32 ? playlist.images[0].url : 'http://placehold.it/150x150'}}" style="width: 150px; height: 150px;" />
			</a><hr />
			<a class="btn btn-success btn-lg" href="{{playlist.uri}}">Play on Spotify</a>
		</div>
	</div>
</div>
